:root {
    --text-primary: #f2e9e4;
    --text-secondary: #3B3B22;
    --text-3: #dfd7e6;

    --account-bg: #f1f1f1;
    --bg: #22223b;
    --bg-secondary: #9a8c98;
    --bg-dark: #101042;
    --bg-light: #e1dde5;
    --bg-3: #5a5a9c;
    --sidebar: #e1dde5;
    --links: #5a5a9c;

    --colour-danger: #e75461;
    --colour-success: #31ad84;
    --colour-warning: #f0950e;
    --colour-warning-dark: #ad6d0d;
    --colour-info-dark: #39393d;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--text-3);
    --alternate-shadow: #1d1d5a;
}

.dark-theme {
    --account-bg: #101042;
    --bg-light: #32366b;
    --bg: #f2e9e4;
    --links: #f2e9e4;
    --colour-info-dark: #f2e9e4;

    --box-shadow: 0 2rem 3rem var(--alternate-shadow);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: mont;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--account-bg);
    color: var(--bg);
    font-family: mont;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;        /*Changes how content is shown depending it size */ 
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

/* ---------- Header ---------- */
header {
    background-color: #22223b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9%;
}

header .logo p{
    font-size: larger;
    font-weight: bold;
    color: var(--text-primary);
}

.navbar {
    overflow: hidden;
    padding: 15px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
    border-radius: 100px;
    margin-inline: 5px;
}

/* Style of links in navigation bar */
.navbar li a {
    color: var(--text-primary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    padding: 14px 16px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    border-radius: 100px;
}

.navbar a:hover {
    background-color: var(--text-primary);
    color: #22223b;
    border-radius: 100px;
}

.navbar a.active {
    background-color: var(--text-primary);
    color: #22223b;
    border-radius: 100px;
}

#logout {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#login {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#register {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

/* ---------- Base ---------- */
a {
    color: var(--bg);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.text-muted{
    color: var(--colour-info-dark);
}

p {
    color: var(--bg);
}

.danger {
    color: var(--colour-danger);
}

.success {
    color: var(--colour-success);
}

.warning {
    color: var(--colour-warning);
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo p{
    gap: 0.8rem;
    font-size: larger;
    font-weight: bold;
    margin-left: 2rem;
    display: none;
}

aside .closeTab {
    display: none;
}

/* ---------- Sidebar ----------*/

aside .sidebar {
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    top: 2rem;
    border-radius: 10px;
}

aside h3 {
    font-weight: 600;
}

aside .sidebar a {
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 350ms ease;
    border-radius: 10px;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 350ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: #c9c6cc;
    color: var(--bg-dark);
    margin-left: 0;
    border-radius: 10px;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--bg-3);
    border-radius: 3px;
}

aside .sidebar a.active span {
    color: var(--bg-dark);
    margin-left: calc(1rem - 6px);          /*align with other icons*/
}

aside .sidebar a:hover {
    color: var(--bg-dark);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* ---------- Main ----------*/

main {
    margin-top: 1.4rem;
}

.dropdown {
    margin-top: 1rem;
    max-width: 11rem;
}

.dropdown * {
    box-sizing: border-box;
}

.dropdown .select {
    background-color: var(--bg-light);
    color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px --bg-3 solid;
    border-radius: 1rem;
    padding: 1em;
    cursor: pointer;
    transition: backgroud 0.3s;
    max-width: 11rem;
    border: 2px var(--links) solid;
}

.dropdown .select-clicked {
    border: 2px var(--links) solid;
    box-shadow: 0 0 0.8rem var(--text-3);
}

.dropdown .select:hover{
    background: #c9c6cc;
}

.dropdown .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--bg);
    transition: 0.3s;
}

.dropdown .caret-rotate{
    transform: rotate(180deg);
}

.dropdown .menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--bg-light);
    border: 1px #cfbbe3 solid;
    box-shadow: 0 0 0.8rem var(--text-3);
    border-radius: 0.5em;
    color: var(--bg);
    position: absolute;
    left: 25.5%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    max-width: 11rem;
    margin-top: .5rem;
    z-index: 3;
}

.dropdown .menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.dropdown .menu li:hover {
    background: #c9c6cc;
}

.dropdown .menu .active {
    background: #ae99c3;
}

.dropdown .menu-open {
    display: block;
    opacity: 1;
}

.dropdown a {
    display: block;
}

main .spending-stats {
    margin-top: 1rem;
}

main .spending-stats h2 {
    margin-bottom: 1rem;
}


main .income-expense-btn {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

main .income-expense-btn .add-product {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main .income-expense-btn .income {
    border: 2.5px dashed #227459;
    color: #227459;
}

main .income-expense-btn .expense {
    border: 2.5px dashed var(--colour-danger);
    color: var(--colour-danger);
}

main .income-expense-btn .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

main .income-expense-btn .add-product{
    background-color: var(--bg-light);
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 350ms ease;
}

main .income-expense-btn .add-product:hover {
    box-shadow: none;
}

/* ---------- Main Popup ----------*/

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%,-50%) scale(1);
    width: 380px;
    padding: 20px 30px;
    background: #9e9ed0;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    color: var(--account-bg);
}

.popup.active {
    top: 50%;
    display: block;
    transform: translate(-50%,-50%) scale(1);
}

#popup-close-income {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#popup-close-expense {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px;
}


.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 20px;
}

.popup .form .form-element-select {
    font-size: 20px;
    margin: 15px 0px;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.popup .form .form-element-select select {
    font-size: 15px;
    border-radius: 10px;
    color: var(--bg);
    padding: 10px;
}


.popup .form .form-element input[type='date']{
    background: transparent;
    color: var(--account-bg);
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type='date']
{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--bg);
    border-radius: 5px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #58915a;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

/* ---------- Main Table ----------*/

main .recent-activity {
    margin-top: 1.3rem;
}

main .recent-activity h2{
    margin-bottom: 1rem;
}

main .recent-activity table{
    background: var(--bg-light);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 350ms ease;

}

main .recent-activity table:hover{
    box-shadow: none;
}

main table thead th {
    font-size: medium;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--bg-3);
    color: var(--bg);
    font-size: medium;
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-activity a {
    text-align: center;
    display: block;
    margin: 2rem auto;
    color: var(--links);
    font-weight: 600;
}

main .recent-activity button {
    color: #4A5093;
    background-color: var(--colour-warning);
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    padding: 8px 12px;
    border-radius: 100px;
}

main .recent-activity button:hover {
    background-color: var(--colour-warning-dark);
}

/* ---------- Right top content ---------- */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}

.right .top button {
    display: none;
}

.right .colour-toggle {
    background: var(--text-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    color: var(--bg-dark)
}

.right .colour-toggle span {
    font-size: 1rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .colour-toggle span.active {
    background-color: var(--bg-3);
    color: var(--text-primary);
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: right;
    margin-right: 1rem;
}

/* ---------- Right budget content ---------- */
.right .spending-stats {
    margin-top: 1.5rem;
}

.right .spending-stats h2{
    margin-bottom: 0.5rem;
}

.right .spending-stats h3{
    margin-bottom: 0.5rem;
}

.right .spending-stats .goals {
    background-color: var(--bg-light);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 350ms ease;
}

/* ---------- Right tracking content ---------- */
.right .tracking-content {
    margin-top: 2rem;
}

.right .tracking-content h2{
    margin-bottom: 1rem;
}

.right .tracking-content .item {
    background-color: var(--bg-light);
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 350ms ease;
}

.right .tracking-content .item:hover {
    box-shadow: none;
}

.right .tracking-content .item .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.right .tracking-content .add-product {
    background-color: transparent;
    border: 2.5px dashed var(--bg-3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right .tracking-content .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .tracking-content a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--links);
    font-weight: 600;
}