/* Palette colours: 22223b, 4a4e69, f2e9e4, 9a8c98, c9ada7*/
:root {
    --text-primary: #f2e9e4;
    --text-secondary: #3B3B22;
    --bg: #22223b;
    --bg-secondary: #9a8c98;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: mont;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--text-primary);
    color: var(--text-primary);
    font-family: mont;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9%;
    background-color: var(--bg);
}

.logo {
    font-size: larger;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    padding: 15px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
    border-radius: 100px;
    margin-inline: 5px;
}

/* Style of links in navigation bar */
.navbar li a {
    color: var(--text-primary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    padding: 14px 16px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    border-radius: 100px;
}

.navbar a:hover {
    background-color: var(--text-primary);
    color: #22223b;
    border-radius: 100px;
}

.navbar a.active {
    background-color: var(--text-primary);
    color: #22223b;
    border-radius: 100px;
}

#logout {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#login {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#register {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

/* --- Intro --- */
.intro {
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: large;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    border-radius: 0 0 500% 540%/0 0 220% 220%;
}

.intro .container {
    text-align: left;
}

.intro button {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-size: large;
    cursor: pointer;
    border: none;
    width: 125px;
    height: 50px;
    border-radius: 100px;
    margin-top: 20px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.intro button:hover {
    background-color: #4a4e69;
    color: #fff6f1;
}

.intro button:active {
    background-color: #fff6f1;
    color: #4a4e69;
}

#typing {
    height: 90px;
}

/* --- Main Content --- */
.slideshow {
    color: var(--text-secondary);
    font-size: large;
}

.slides {
    /* --- hides slides --- */
    display: none;
    padding-top: 7%;
    padding-bottom: 2%;
    text-align: center;
}

.slides .container {
    display: flex;
    align-items: center;
}

.slides .container img{
    width: 30%;
    height: auto;
    margin-right: 20px;
    margin-left: 10%;
}

.slide-text {
    text-align: left;
    flex-grow: 1;
    padding-left: 5%;
}

.slide-text h1{
    margin-top: 0;
    color: var(--bg);
}

.slide-text p{
    margin-right: 25%
}

@media (max-width: 800px) {
    .slides .container {
      flex-direction: column;
    }
  
    .slides .container img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: #928d8a;
    color: var(--text-secondary);
}

.dots-box {
    text-align: center;
    padding: 15px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.homeContent {
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: large;
    display: flex;
    justify-content: center;
    color: var(--text-secondary);
}

.homeContent .container{
    text-align: center;
}

.slideshow button {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-size: large;
    cursor: pointer;
    border: none;
    width: auto;
    height: 50px;
    border-radius: 100px;
    margin-top: 20px;
    padding-inline: 20px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.slideshow  button:hover {
    background-color: #4a4e69;
    color: #fff6f1;
}

.slideshow  button:active {
    background-color: #fff6f1;
    color: #4a4e69;
}

/* --- Footer --- */
footer {
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: large;
    background-color: var(--bg);
    color: var(--text-primary);
    text-align: center;
}

footer a {
    text-decoration-color: var(--text-primary);
}