:root {
    --text-primary: #f2e9e4;
    --text-secondary: #3B3B22;
    --bg: #22223b;
    --bg-secondary: #9a8c98;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: mont;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--text-primary);
    color: var(--text-primary);
    font-family: mont;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9%;
    background-color: var(--bg);
}

.logo {
    font-size: larger;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    padding: 15px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
    border-radius: 100px;
    margin-inline: 5px;
}

/* Style of links in navigation bar */
.navbar li a {
    color: var(--text-primary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    padding: 14px 16px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    border-radius: 100px;
}

.navbar a:hover {
    background-color: var(--text-primary);
    color: #22223b;
    border-radius: 100px;
}

.navbar a.active {
    background-color: var(--text-primary);
    color: #22223b;
    border-radius: 100px;
}

#logout {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#login {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#register {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

.intro {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: large;
    display: flex;
    justify-content: center;
    color: var(--bg);
}

.intro .container {
    margin-right: 15%;
}

.intro .container > * {
    margin-top: 0;
    margin-bottom: 15px;
}

.intro .container h1{
    margin-top: 0;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    color: var(--text-primary);
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: var(--bg-secondary);
    width: 300px;
    margin: 10px;
    border-radius: 15px;
}

.card:hover {
    background-color: #827680;
    transform: scale(1.02);
    transition: all 0.5 ease;
}

.card-img {
    height: 200px;
    margin-bottom: 5px;
    background-size: cover;
    border-radius: 15px;
}

.card h2 {
    padding-inline: 10px;
}

.card p {
    padding-inline: 10px;
}

.card a {
    text-decoration: none;
    background-color: var(--bg);
    color: var(--text-primary);
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    flex-grow: 1;
    border-radius: 100px;
}

.card a:hover {
    background-color: #4c4c82;
    color: var(--text-primary);
    border-radius: 100px;
    cursor: pointer;
}

.card a.active {
    background-color: #4c4c82;
    color: var(--text-primary);
    border-radius: 100px;
    cursor: pointer;
}