:root {
    --text-primary: #f2e9e4;
    --text-secondary: #3B3B22;
    --text-3: #dfd7e6;

    --account-bg: #f1f1f1;
    --bg: #22223b;
    --bg-secondary: #9a8c98;
    --bg-dark: #101042;
    --bg-light: #e1dde5;
    --bg-3: #5a5a9c;
    --sidebar: #e1dde5;
    --links: #5a5a9c;

    --colour-danger: #e75461;
    --colour-success: #31ad84;
    --colour-warning: #f0950e;
    --colour-warking-dark: #ad6d0d;
    --colour-info-dark: #39393d;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--text-3);
    --alternate-shadow: #1d1d5a;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: mont;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--account-bg);
    color: var(--text-primary);
    font-family: mont;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9%;
    background-color: var(--bg);
}

.logo {
    font-size: larger;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    padding: 15px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
    border-radius: 100px;
    margin-inline: 5px;
}

/* Style of links in navigation bar */
.navbar li a {
    color: var(--text-primary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    padding: 14px 16px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    border-radius: 100px;
    text-align: center;
    background-color: var(--bg);
}

.navbar a:hover {
    background-color: var(--bg-light);
    color: #22223b;
    border-radius: 100px;
}

.navbar a.active {
    background-color: var(--bg-light);
    color: #22223b;
    border-radius: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    margin: 2px 0px 2px;
}

.dropdownMain {
    display: flex;
    align-items: center;
}

.dropdownMain .material-icons-round {
    transition: transform 0.5s ease-in-out;
  }

.dropdown:hover .dropdownMain span{
    transform: rotate(180deg);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myAccount {
    color: var(--text-primary);
    background-color: #31ad84;
    text-decoration: none; /* Property removes the underline */
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#myAccount:hover {
    background-color: #23785c;
    color: #fff6f1;
}

#logout {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#logout:hover {
    background-color: #975656;
    color: #fff6f1;
}

#login {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#login a{
    background-color: var(--bg-secondary);
}

#register {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#register a {
    background-color: #ab6060;
}

.intro {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: large;
    display: flex;
    justify-content: center;
    color: var(--bg);
}

.intro .container {
    margin-right: 15%;
}

.intro .container > * {
    margin-top: 0;
    margin-bottom: 15px;
}

.intro .container h1{
    margin-top: 0;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    color: var(--bg);
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: var(--bg-light);
    width: 300px;
    margin-top: 10px;
    margin-inline: 20px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}

.card:hover {
    background-color: #bdb5c5;
    transform: scale(1.02);
    box-shadow: none;
    transition: all 0.5 ease;
}

.card-img {
    height: 200px;
    margin-bottom: 5px;
    background-size: cover;
    border-radius: 15px;
}

.card-content {
    flex-grow: 1;
}

.card-link {
    margin-top: auto;
}
.card .card-content h3 {
    padding-inline: 10px;
}

.card .card-content p {
    padding-inline: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.card .card-link a {
    text-decoration: none;
    background-color: var(--bg);
    color: var(--text-primary);
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    flex-grow: 1;
    border-radius: 100px;
}

.card .card-link a:hover {
    background-color: #4c4c82;
    color: var(--text-primary);
    border-radius: 100px;
    cursor: pointer;
}

.card a.active {
    background-color: #4c4c82;
    color: var(--text-primary);
    border-radius: 100px;
    cursor: pointer;
}

