:root {
    --text-primary: #f2e9e4;
    --text-secondary: #3B3B22;
    --text-3: #dfd7e6;

    --account-bg: #f1f1f1;
    --bg: #22223b;
    --bg-secondary: #9a8c98;
    --bg-dark: #101042;
    --bg-light: #e1dde5;
    --bg-3: #5a5a9c;
    --sidebar: #e1dde5;
    --links: #5a5a9c;

    --colour-danger: #e75461;
    --colour-success: #31ad84;
    --colour-warning: #f0950e;
    --colour-warking-dark: #ad6d0d;
    --colour-info-dark: #39393d;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--text-3);
    --alternate-shadow: #1d1d5a;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: mont;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text-primary);
    font-family: mont;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9%;
    background-color: var(--bg);
}

.logo {
    font-size: larger;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    padding: 15px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
    border-radius: 100px;
    margin-inline: 5px;
}

/* Style of links in navigation bar */
.navbar li a {
    color: var(--text-primary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    padding: 14px 16px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    border-radius: 100px;
    text-align: center;
    background-color: var(--bg);
}

.navbar a:hover {
    background-color: var(--bg-light);
    color: #22223b;
    border-radius: 100px;
}

.navbar a.active {
    background-color: var(--bg-light);
    color: #22223b;
    border-radius: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    margin: 2px 0px 2px;
}

.dropdownMain {
    display: flex;
    align-items: center;
}

.dropdownMain .material-icons-round {
    transition: transform 0.5s ease-in-out;
  }

.dropdown:hover .dropdownMain span{
    transform: rotate(180deg);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myAccount {
    color: var(--text-primary);
    background-color: #31ad84;
    text-decoration: none; /* Property removes the underline */
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#myAccount:hover {
    background-color: #23785c;
    color: #fff6f1;
}

#logout {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#logout:hover {
    background-color: #975656;
    color: #fff6f1;
}

#login {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#login a{
    background-color: var(--bg-secondary);
}

#register {
    color: var(--text-primary);
    background-color: #ab6060;
    text-decoration: none; /* Property removes the underline */
    font-size: 20px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
}

#register a {
    background-color: #ab6060;
}

/* --- Intro --- */
.intro {
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: large;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    border-radius: 0 0 500% 540%/0 0 220% 220%;
}

.intro .container {
    text-align: left;
}

.intro button {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-size: large;
    cursor: pointer;
    border: none;
    width: 125px;
    height: 50px;
    border-radius: 100px;
    margin-top: 20px;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.intro button:hover {
    background-color: #4a4e69;
    color: #fff6f1;
}

.intro button:active {
    background-color: #fff6f1;
    color: #4a4e69;
}

/* --- Footer --- */
footer {
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: large;
    background-color: var(--bg);
    color: var(--text-primary);
    text-align: center;
    box-shadow: 0 -2rem 2rem var(--text-3);
    border-radius: 120% 120% 0 0/75% 75% 0 0;
}

footer a {
    color: var(--colour-danger);
    text-decoration: none;
}

